* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
header{
  height: 80px;
}
.mainmenu {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-fluid {
  max-width: 150px;
  height: auto;
}

.logoarea {
  width: calc(30% - 30px);
  text-align: center;
}

.menuitem {
  width: calc(45% - 30px);
}

.menuitem ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuitem li a {
  text-decoration: none;
}

.nav-btn {
  opacity: 0;
  display: none;
  font-size: 1.8;
  position: absolute;
  top: 10px;
  right: 10px;
 
}

@media only screen and (max-width: 768px) {
  header{
    background-color: blue;
  }
  .nav-btn {
    opacity: 1;
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.8em;
  }
  .menuitem ul{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateY(-100vh);
    background-color: blue;
  }
  .responsive_nav{
    transform: none !important;
  }
  .fa-xmark{
    /* color: #fff; */
  }
  .nav-close-btn{
    z-index: 99;
  }
}